@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cookle</title>

    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="~/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/fonts/material-icons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allura">
    <link rel="stylesheet" href="~/css/Article-List.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="~/css/Simple-Slider.css">

    <partial name="_Favicons" />
</head>
<body>
    <header>
        <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
            <div class="container">
                <a class="navbar-brand logo"  asp-controller="Home" asp-action="Index" style="width: 300px;">
                    <img src="~/img/logo.png" style="width: 80px;"><span>Cookle</span>&nbsp;<span><span style="font-size: 10px;background-position: right;">sponsored by</span><img src="~/img/epi.png" style="width: 90px;background-position: right;"></span>
                </a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
                    <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" asp-controller="Receita" asp-action="Index" style="color: rgb(249,63,35);">Receitas</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" asp-controller="Frigorifico" asp-action="User" asp-route-id="@UserManager.GetUserId(User)" style="color: rgb(249,63,35);">Frigorifico</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" asp-controller="Historico" asp-action="User" asp-route-id="@UserManager.GetUserId(User)" style="color: rgb(249,63,35);">Histórico</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" asp-controller="" asp-action="" style="color: rgb(249,63,35);">Favoritos</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="main_body">
            @RenderBody()
        </main>
    </div>

    <!--   Footer   -->
    <footer class="page-footer dark" style="background-color: rgb(249,63,35);position: fixed;left: 0;bottom: 0;width: 100%;">
        <div class="d-xl-flex justify-content-xl-center align-items-xl-end footer-copyright">
            <p>© 2019 Made with&nbsp;<i class="fa fa-heart"></i>&nbsp;by Cookle</p>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    </environment>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="~/js/Simple-Slider.js"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>