@model Cookle.Models.Receita

@{
    ViewData["Title"] = "A cozinhar";
    var nut = ViewData["ValorNutricional"];
    //JA MUDADA
}

<section class="clean-block clean-post dark" style="margin-bottom: 48px;">
    <div class="container">
        <a asp-controller="Home" asp-action="Index"><input class="btn btn-primary" type="button">Voltar ao Preview</a>
        <div class="block-content">
            <h2 style="text-align:center;color:#3b99e0!important;padding-top:5px;">Receita na Íntegra</h2>
            <div class="post-body">
                <h3>@Model.Nome</h3>
                <p><strong>Ingredientes:</strong></p>
                <ul>
                    @{
                        foreach (IngredienteReceita ing in Model.IngredienteReceitas)
                        {
                            <li><strong>@ing.Quantidade</strong>&nbsp;<strong>@ing.Unidade</strong>&nbsp;@ing.Receita.Nome<br></li>
                        }
                    }
                </ul>


                <p><strong>Valor nutritivo: </strong>@nut  kcal.</p>
                <h3>Confecção</h3>
                @{
                    foreach (Passo p in Model.Passos)
                    {
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1"><strong>@p.Numero .&nbsp;</strong>@p.Descricao<br></label></div>
                    }
                }
            <a asp-controller="" asp-action="">
                <input class="btn btn-primary" type="button" style="margin-top:15px;float:right;">Terminar
            </a>
            </div>
        </div>
    </div>
</section>
