@model Cookle.Models.Receita

@{
    // Whole receipt 
    ViewData["Title"] = Model.Nome;
    var nut = ViewData["ValorNutricional"];
    var user = ViewData["UserId"];
}

<section class="clean-block clean-post" style="margin-bottom: 48px;">
    <div class="container">
        <a asp-controller="Receita" asp-action="Preview" asp-route-id="@Model.Id"><input class="btn btn-primary" type="submit" value="Voltar ao Preview"></a>
        <div class="block-content">
            <h2 style="text-align:center;color:#f93f23!important;padding-top:5px;">Receita na Íntegra</h2>
            <div class="post-body">
                <h3>@Model.Nome</h3>
                <p><strong>Ingredientes:</strong></p>
                <ul>
                    @{
                        if (Model.IngredienteReceitas != null)
                        {
                            foreach (IngredienteReceita ing in Model.IngredienteReceitas)
                            {
                                <li><strong>@ing.Quantidade</strong>&nbsp;
                                    @switch (ing.Unidade)
                                    {
                                        case 1:
                                            <strong>gramas</strong>
                                            break;
                                        case 2:
                                            <strong>mililitos</strong>
                                            break;
                                    }
                                @ing.Ingrediente.Nome<br></li>
                            }
                        }
                    }
                </ul>
                
                <p><strong>Valor nutritivo: </strong>@nut  kcal.</p>
                <h3>Confecção</h3>
                @{
                    if (Model.Passos != null)
                    {
                        foreach (Passo p in Model.Passos)
                        {
                            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1"><strong>@p.Numero .&nbsp;</strong>@p.Descricao<br></label></div>
                            if (p.SubReceitaId != null)
                            {
                                <a type="submit" asp-controller="Receita" asp-action="Preview" asp-route-id="@p.SubReceitaId">Para mais informações clique aqui.</a>
                            }
                        }
                    }
                }
            <a asp-controller="Receita" asp-action="Finish" asp-route-idR="@Model.Id" asp-route-idU="@user">
                <input class="btn btn-primary" type="submit" style="margin-top:15px;float:right;" value="Terminar">
            </a>
            </div>
        </div>
    </div>
</section>
